nav {
  display: flex;
  padding: 1rem;
  background-color: #202020;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100vw;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 1rem;
  padding: 0;
}

nav ul li a {
  color: whitesmoke;
}

.placeholder {
  width: 6rem;
  height: 1.5rem;
  background: rgba(255, 255, 255, 0.55);
  animation: placeholder 1.5s infinite alternate;
}

/* animation for a text placeholder */

@keyframes placeholder {
  0% {
    background: rgba(255, 255, 255, 0.15);
  }
  100% {
    background: rgba(255, 255, 255, 0.55);
  }
}
