#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 1rem;
  padding: 0;
}

section {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 2rem;
}

article {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  padding: 1rem;
  align-items: center;
  max-width: 300px;
  max-height: 150px;
}

article h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

article p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

article img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

article button img svg {
  fill: #fff;
}
