/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  width: 80vw;
} */

.choferes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 2rem;
}

.choferes-grid > article {
  margin: 0;
}

.choferes-grid > article > header {
  display: flex;
  justify-content: center;
}

.choferes-grid > article > header > img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.choferes-grid > article > h2 {
  margin: 0;
}

.choferes-grid > article > p {
  margin: 0;
}

.m {
  margin-right: 1rem;
}

.cartList {
  overflow-y: scroll;
  max-height: 70vh;
  scrollbar-gutter: stable;
  padding-right: 10px;
  list-style-type: none;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: antiquewhite;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #19b3e6;
  }
}

.placeholder {
  width: 6rem;
  height: 1rem;
  background: rgb(25, 179, 230, 0.15);
  animation: placeholder 1.5s infinite alternate;
}

@keyframes placeholder {
  0% {
    background: rgba(25, 179, 230, 0.15);
  }
  100% {
    background: rgba(25, 179, 230, 0.55);
  }
}
