:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
}

.choferes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2rem;
}

.choferes-grid > article {
  margin: 0;
}

.choferes-grid > article > header {
  display: flex;
  justify-content: center;
}

.choferes-grid > article > header > img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.choferes-grid > article > h2 {
  margin: 0;
}

.choferes-grid > article > p {
  margin: 0;
}

.m {
  margin-right: 1rem;
}

.cartList {
  overflow-y: scroll;
  max-height: 70vh;
  scrollbar-gutter: stable;
  padding-right: 10px;
  list-style-type: none;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: antiquewhite;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #19b3e6;
  }
}

.placeholder {
  width: 6rem;
  height: 1rem;
  padding: 1rem;
  margin: 1rem;
  background: rgb(25, 179, 230, 0.15);
  animation: placeholder 1.5s infinite alternate;
}

@keyframes placeholder {
  0% {
    background: rgba(25, 179, 230, 0.15);
  }
  100% {
    background: rgba(25, 179, 230, 0.55);
  }
}

iframe {
  color-scheme: normal;
}
